# Consignes

Intégrer le fichier USvideos.csv qui représente un ensemble de 8000 vidéos Youtube. 

Merger le fichier US_category_id.json pour récupérer le nom des catégories. Il conviendra de bien spécifier l'ID du document.


# Questions 
- 1) Récupérer toutes les vidéos de la chaîne Apple.
- 2) Compter le nombre de catégories différentes
- 3) Si vous ne l'avez pas déjà fait, découper les tags en listes et mettre à jour les tags de chacun des documents avec une requête update.
- 4) Récupérer les vidéos les plus vues.
- 5) Compter le nombre moyen de vues en fonction de la catégorie.
- 6) Récupérer les chaines Youtube avec la plus grande moyenne de likes.

In [1]:
import pandas as pd
import pymongo

In [2]:
client = pymongo.MongoClient()
database = client['exercices']
collection = database['youtube']

In [7]:
df_youtube = pd.read_csv("./data/USvideos.csv")
df_youtube.head()

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,13.09
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,13.09
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,13.09
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,13.09
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,13.09

## Question 0

### Netoyer les données

In [8]:
df_youtube["date"]=pd.to_datetime(df_youtube["date"])
# car vide_id n'est pas un id ici
df_youtube["tags"] = df_youtube["tags"].apply(lambda x: x.split("|"))
df_youtube.dtypes

video_id                  object
title                     object
channel_title             object
category_id                int64
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_total              int64
thumbnail_link            object
date              datetime64[ns]
dtype: object

In [10]:
df_youtube.head()

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,"[logan paul vlog, logan paul, logan, paul, oly...",4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,1970-01-01 00:00:00.000000013
1,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01 00:00:00.000000013
2,cLdxuaxaQwc,My Response,PewDiePie,22,[[none]],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,1970-01-01 00:00:00.000000013
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,"[apple iphone x hands on, Apple iPhone X, iPho...",2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,1970-01-01 00:00:00.000000013
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,"[jacksfilms, parody, parodies, iphone, iphone ...",1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,1970-01-01 00:00:00.000000013

### Importer les données

In [13]:
collection.delete_many({})
collection.insert_many(df_youtube.to_dict(orient='records'))

## Question 1

In [15]:
cursor = collection.find({"channel_title":"Apple"})
pd.DataFrame(cursor)

,_id,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,61f967a55207cf6ef6817cd6,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01
1,61f967a55207cf6ef6817da0,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",12200526,258842,44339,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01
2,61f967a55207cf6ef6817e78,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",15731493,321403,57528,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01
3,61f967a55207cf6ef6817f77,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",18082737,359392,64933,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01
4,61f967a55207cf6ef681805e,K4wEI5zhHB0,iPhone X — Introducing iPhone X — Apple,Apple,28,"[Apple, iPhone 10, iPhone Ten, iPhone, Portrai...",19707391,381919,69465,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,1970-01-01
5,61f967a55207cf6ef68180fa,A9k88sMyiJM,Apple Watch Series 3 + Apple Music — Roll — Apple,Apple,28,"[Apple, airpods, apple watch, apple watch seri...",782543,14647,1489,0,https://i.ytimg.com/vi/A9k88sMyiJM/default.jpg,1970-01-01
6,61f967a55207cf6ef68181e7,A9k88sMyiJM,Apple Watch Series 3 + Apple Music — Roll — Apple,Apple,28,"[Apple, airpods, apple watch, apple watch seri...",3987580,26021,8719,0,https://i.ytimg.com/vi/A9k88sMyiJM/default.jpg,1970-01-01
7,61f967a55207cf6ef68182d7,A9k88sMyiJM,Apple Watch Series 3 + Apple Music — Roll — Apple,Apple,28,"[Apple, airpods, apple watch, apple watch seri...",4112187,26609,8982,0,https://i.ytimg.com/vi/A9k88sMyiJM/default.jpg,1970-01-01
8,61f967a55207cf6ef6818ca1,REZl-ANYKKY,iPhone 8 Plus — Portraits of Her — Apple,Apple,28,"[Apple, new, iPhone, iPhone 8, iPhone 8 Plus, ...",117564,1240,459,0,https://i.ytimg.com/vi/REZl-ANYKKY/default.jpg,1970-01-01
9,61f967a55207cf6ef6818d92,REZl-ANYKKY,iPhone 8 Plus — Portraits of Her — Apple,Apple,28,"[Apple, new, iPhone, iPhone 8, iPhone 8 Plus, ...",163024,1538,539,0,https://i.ytimg.com/vi/REZl-ANYKKY/default.jpg,1970-01-01
10,61f967a55207cf6ef6818e90,REZl-ANYKKY,iPhone 8 Plus — Portraits of Her — Apple,Apple,28,"[Apple, new, iPhone, iPhone 8, iPhone 8 Plus, ...",183325,1700,570,0,https://i.ytimg.com/vi/REZl-ANYKKY/default.jpg,1970-01-01

## Question 2

In [17]:
nb_cat = len(collection.distinct('category_id'))
print("On compte "+ str(nb_cat)+" categories différentes.")

On compte 16 categories différentes.

## Question 3

## Question 4

In [18]:
best_videos = collection.find().sort([("views",-1)]).limit(10)
pd.DataFrame(best_videos)

,_id,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,61f967a55207cf6ef6818448,MBdVXkSdhwU,BTS (방탄소년단) 'DNA' Official MV,ibighit,10,"[BIGHIT, 빅히트, 방탄소년단, BTS, BANGTAN, 방탄]",41500672,2010366,78076,736179,https://i.ytimg.com/vi/MBdVXkSdhwU/default.jpg,1970-01-01
1,61f967a55207cf6ef6818373,MBdVXkSdhwU,BTS (방탄소년단) 'DNA' Official MV,ibighit,10,"[BIGHIT, 빅히트, 방탄소년단, BTS, BANGTAN, 방탄]",38013692,1950475,75294,713293,https://i.ytimg.com/vi/MBdVXkSdhwU/default.jpg,1970-01-01
2,61f967a55207cf6ef6817d86,tt2k8PGm-TI,ZAYN - Dusk Till Dawn ft. Sia,ZaynVEVO,10,"[Dusk Till Dawn, Pop, RCA Records Label, ZAYN ...",36323498,1431683,28049,100661,https://i.ytimg.com/vi/tt2k8PGm-TI/default.jpg,1970-01-01
3,61f967a55207cf6ef68198b4,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,"[BET, BET Networks, BET Music, Black Entertain...",33191594,982842,184310,337603,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01
4,61f967a55207cf6ef68197da,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,"[BET, BET Networks, BET Music, Black Entertain...",32512343,968719,180427,332396,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01
5,61f967a55207cf6ef68184a0,SHq2qrFUlGY,Shakira - Perro Fiel (Official Video) ft. Nick...,shakiraVEVO,10,"[Shakira ft. Nicky Jam, Shakira ft. Nicky Jam ...",32136948,578266,43475,40071,https://i.ytimg.com/vi/SHq2qrFUlGY/default.jpg,1970-01-01
6,61f967a55207cf6ef68196e5,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,"[BET, BET Networks, BET Music, Black Entertain...",31636010,950353,175483,327345,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01
7,61f967a55207cf6ef6818275,MBdVXkSdhwU,BTS (방탄소년단) 'DNA' Official MV,ibighit,10,"[BIGHIT, 빅히트, 방탄소년단, BTS, BANGTAN, 방탄]",30424471,1762428,63990,582624,https://i.ytimg.com/vi/MBdVXkSdhwU/default.jpg,1970-01-01
8,61f967a55207cf6ef68195f4,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,"[BET, BET Networks, BET Music, Black Entertain...",30224787,916296,166986,314704,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01
9,61f967a55207cf6ef6819511,LunHybOKIjU,Eminem Rips Donald Trump In BET Hip Hop Awards...,BETNetworks,24,"[BET, BET Networks, BET Music, Black Entertain...",28212358,870122,153018,296958,https://i.ytimg.com/vi/LunHybOKIjU/default.jpg,1970-01-01

## Question 5

In [23]:
category = collection.aggregate([{"$group" : {"_id" : "$category_id", "moyenne de vues" : {"$avg" :"$views"}}}])
pd.DataFrame(category)

    _id  moyenne de vues
0    24     1.154868e+06
1    23     1.240073e+06
2    15     6.514044e+05
3    43     8.492500e+03
4    26     5.376652e+05
5     2     6.076939e+05
6    17     7.284343e+05
7    22     9.715328e+05
8    25     5.409556e+05
9    28     9.247305e+05
10    1     1.039473e+06
11   20     6.810818e+05
12   27     5.475825e+05
13   10     1.176554e+06
14   19     4.640411e+05
15   29     1.110334e+06

## Question 6

In [25]:
best_channels = collection.aggregate([{"$group":{"_id":"$channel_title","moyenne de likes":{"$avg":"$likes"}}},{"$sort" :{"avgLike": -1}},{"$limit":10}])
pd.DataFrame(best_channels)

                   _id  moyenne de likes
0          UCF Knights         35.000000
1           CorkGaines         91.500000
2             Mr. Kate      63503.181818
3          Jordan Hanz       6356.000000
4               adidas       2473.000000
5  Motor Trend Channel      16180.666667
6         Oats Studios      20272.500000
7        Niks Ļeoņenko       1767.285714
8         Ed Gillespie          0.000000
9           Cole Truax        266.000000